/*id = #    class = .*/

/*asset declaration*/
@font-face {
    font-family: monoFont;
    src: url(./SiteFont/UbuntuMono-Regular.ttf);
}

/*site body and extra settings*/
body {
    background-color: rgb(159, 159, 159);
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: rgba(172, 128, 181, 0.046);
}
::-webkit-scrollbar-thumb {
    background: rgba(172, 128, 181, 0.16);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(172, 128, 181, 0.1);
}

/*left side of the site*/
#mainLeft {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 17%;
    height: 100%;
    background-color: rgb(16, 9, 29);
    color: rgb(140, 68, 188);
    font-family: monoFont;
    user-select: none;
    transition: left 175ms ease-in-out;
}

/*projects list*/
#projectList {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 75%;
    user-select: none;
}

#titleList {
    position: relative;
    left: 0;
    top: -21px;
    width: 100%;
    height: 5%;
    font-size: 22px;
    font-weight: 600;
    background-color: rgba(195, 195, 195, 0.048);
    user-select: none;
    padding-top: 2%;
    padding-left: 2%;
}

.projects {
    position: relative;
    left: 0;
    top: -43px;
    width: 100%;
    height: 5%;
    font-size: 20px;
    font-weight: 400;
    background-color: rgba(195, 195, 195, 0);
    user-select: none;
    padding-top: 4%;
    padding-left: 4%;
}

.projects:hover {
    background-color: rgba(172, 128, 181, 0.187);
}

/*right side of the site*/
#mainRight {
    position: absolute;
    top: 0;
    right: 0;
    width: 83%;
    height: 100%;
    background-color: rgb(51, 6, 81);
    user-select: none;
    transition: width 175ms ease-in-out;
}

#homePage {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 95%;
    height: 90%;
    transform: translate(50%, -50%);
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 2px rgba(43, 43, 43, 0.727) inset;
    user-select: none;
}

#pageTitle {
    position: relative;
    top: -4%;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: monoFont;
    user-select: none;
}

#homePageContent {
    position: absolute;
    top: 55%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 90%;
    height: 90%;
    overflow-y: auto;
    user-select: none;
}

.content {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
    text-align: center;
    font-size: 28px;
    font-family: monoFont;
    user-select: none;
}

.projectPeice {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    height: fit-content;
    width: 85%;
    padding: 30px;
    background-color: rgb(215, 196, 171);
    box-shadow: 0px 0px 15px 10px rgba(172, 128, 181, 0.187), 0px 0px 10px 5px rgba(173, 165, 155, 0.703) inset;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 30px;
    user-select: none;
}

.screenshot {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 160px;
    width: 300px;
    user-select: none;
}

.projectContent {
    position: relative;
    top: 0%;
    left: 50%;
    text-align: left;
    transform: translate(-50%, 0%);
    width: 60%;
    text-align: center;
    font-family: monoFont;
    font-size: 20px;
    word-spacing: 7px;
    font-weight: 600;
    user-select: none;
}

#handle {
    position: absolute;
    top: 50%;
    left: 0.5%;
    transform: translate(0%, -50%);
    height: fit-content;
    width: fit-content;
    background-color: rgb(51, 6, 81);
    font-size: 40px;
    font-family: monofont;
    color: rgb(215, 196, 171);
    user-select: none;
}